.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.form-control-feedback {
  margin-top: 7px;
  margin-left: 8px;
}
.new-user-btn {
  height: 40px;
  border-radius: 8px;
  margin-top: 10px;
}
.back-icon {
  height: 2rem;
  cursor: pointer;
}
.user-name {
  cursor: pointer;
}

/* modal */
/* .modal-dialog,
.modal .right {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
} */

/* .modal-content,
.modal .right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal-body,
.modal .right .modal-body {
  padding: 15px 15px 80px;
} */

/*Right*/
/* .modal.right.fade .modal-dialog {
  right: -470px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal .right.fade.in .modal-dialog {
  right: 0;
} */

/* ----- MODAL STYLE ----- */
/* .modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #eeeeee;
  background-color: #fafafa;
} */

/* modal */
/* UserList.css */

.custom-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* width: 50%; */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  /* margin: 15% auto; */
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  justify-content: end;
  align-items: end;
}
.modal-body {
  background-color: #fff;
  padding: 1rem !important;
  /* width: 400px; */
  flex: 1;
  /* overflow-y: auto; */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.header-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid gray;
}
.header-custom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid gray;
}
.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.body-sidepanel {
  border-bottom: 1px solid gray;
}
.div1 span {
  margin-left: 20px;
}
.user-icon {
  height: 40px;
}
.full-name,
.roles,
.last-login {
  color: gray;
}
